body {
    background: paleturquoise;
    padding: 10%;
}
.clock {
    color: maroon;
    font-size: 60px;
    letter-spacing: 7px;
}
.flex-container {
    display: flex;
     align-items: center;
    justify-content: center; 
  }

  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }